
/* Fonts/Typography */

$font-color-primary: #333;
$font-color-secondary: #666;
$font-color-tertiary: #fff;

$font-color-link: #123b6d;
$font-color-link-hover: #071527;
$font-color-link-focus: $font-color-link-hover;

$font-size-primary: 1rem;
$font-size-secondary: 0.85rem;
$font-size-tertiary: 0.666rem;

/* Backgrounds/Borders */

$background-color-primary: #fff;
$background-color-secondary: #eee;
$background-color-tertiary: #333;

$border-color-primary: #ccc;
$border-color-secondary: #eee;
$border-color-tertiary: #000;